h1 {
    font-weight: bold;
    font-size: 18pt;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.outerDiv {
    font-size: 13px;
    background-color: green;
    padding: 10px;
    margin: 10px;
}

.innerDiv {
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.inserted {
    background-color: blue;
    color: white;
}

